<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1> <%= title %> </h1>
    <p><%= title %> rocks </p>
    <div class="ct-chart ct-perfect-fourth"></div>
    <div id="map"></div>
    <script>
    var map, heatmap;
    function initMap() {
      var heatMapData = [
        {location: new google.maps.LatLng(52.629729, -1.131592), weight: 10.5},
        {location: new google.maps.LatLng(52.829729, -1.131592), weight: 20},
        {location: new google.maps.LatLng(52.929729, -1.131592), weight: 30},
        {location: new google.maps.LatLng(53.029729, -1.131592), weight: 20},
        {location: new google.maps.LatLng(53.229729, -1.131592), weight: 10.5},
        {location: new google.maps.LatLng(53.329729, -1.131592), weight: 30},
        {location: new google.maps.LatLng(53.429729, -1.131592), weight: 20},
        {location: new google.maps.LatLng(53.629729, -1.131592), weight: 10.5},
        {location: new google.maps.LatLng(53.829729, -1.131592), weight: 20},
        {location: new google.maps.LatLng(53.929729, -1.131592), weight: 30}
      ];

      var leicester = new google.maps.LatLng(52.629729, -1.131592);

      var mapDiv = document.getElementById('map');
        map = new google.maps.Map(mapDiv, {
        center: leicester,
        zoom: 8
      });

      heatmap = new google.maps.visualization.HeatmapLayer({
        data: heatMapData,
        map: map
      });
    } 
    heatmap.setMap(heatmap.getMap());
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&callback=initMap" async defer></script>
    <script>
      var data = {
        labels:  <%-JSON.stringify(crime_categories)%>,
        series: [<%= no_of_crimes_in_category %>]        
      };

      var options = {
        labelInterpolationFnc: function(value) {
          return value[0]
        }
      };

      var responsiveOptions = [
        ['screen and (min-width: 640px)', {
          chartPadding: 30,
          labelOffset: 100,
          labelDirection: 'explode',
          labelInterpolationFnc: function(value) {
            return value;
          }
        }],
        ['screen and (min-width: 1024px)', {
          labelOffset: 80,
          chartPadding: 20
        }]
      ];
      new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
    </script>
  </body>
</html>

