/* reset browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set your styles */

html, body {
  height: 100%;
  width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-style: italic;
}

h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 20px;
}

form {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 180%; 
  margin-left: 5%;
}

button {
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
}

.header {
  padding: 10px;
  background-color: #A0A0A0;
}

.content-unit {
  width: 96%;
  height: 100%;
  display: block;
  padding: 30px 20px;
  /*overflow: hidden;*/
}

.content-unit__header {
  background-color: #888888;
  padding: 10px;
  margin-bottom: 10px;
}

.content-unit__right {
  width: 49%;
  height: 100%;
  display: inline-block;
  padding-bottom: 32767px;
  margin-bottom: -32767px
}

.content-unit__left {
  width: 49%;
  display: inline-block;
  padding-bottom: 32767px;
  margin-bottom: -32767px
}

.form-content {
  width: 29%;
}

.map-content {
  width: 70%;
}

.chart-content {
  display: flex;
}

.clicked_date_button {
  font-weight: bold;
  background-color: #A0A0A0;
}

.overlay-control {
  background-color: #A0A0A0;
  padding: 4px;
}

.overlay-control span {
  font-size: 17px;
}

#map {
  height: 100%;
  width: 100%;
  display: inline-block;
}

