#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 0 auto;
}

a.active {
  color: orange;
}

.container-fluid {
  padding: 0;
}

.header {
  width: 100%;
  padding: 10px;
  background-color: #A0A0A0;
}

.header p {
  font-size: 20px;
  color: #FFFFFF;
  font-style: italic;
}

.header__title {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 60px;
}

.header__title:hover,
.header__title:active,
.header__title:visited,
.header__title:link {
  text-decoration: none;
  color: #FFFFFF;
}

.intro {
  font-size: 18px;
  margin: 20px;
}

.section__header {
  background-color: #888888;
  padding: 10px;
  margin-bottom: 10px;
}

.section__header h3 {
  font-size: 20px;
  color: #FFFFFF;
}

.section__form--radios {
  display: inline-block;
  padding: 0 50px;
  opacity: 1;
}

.section__form--radio {
  padding: 3px 10px;
}

.section__form--radio label {
  padding-left: 4px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  vertical-align: middle;
}

.section__map {
  display: inline-block;
  position: relative;
  height: 400px;
  width: 70%;
}

.section__map__marker--crime-hot-spot {
  background-image: url('../pics/Map-Marker-Board-Pink.png');
  background-size: 40px 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  line-height: 35px;
}

.leaflet-container {
  overflow: hidden;
  height: 100%;
}

.leaflet-tile-pane {
  z-index: 2;
}

.section__button-group {
  padding: 10px 60px;
  display: none;
}

.section__button-group button {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 5px;
  margin: 7px;
}

.section__chart--line {
  position: relative;
  display: inline-block;
  margin-left: 60px;
}

.section__loading {
  position: absolute;
  z-index: 101;
  font-size: 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 15% 45%;
}

.burger-menu {
  display: none;
}

.section__content-title {
  display: none;
}

@media screen and (max-width: 1130px) {
  .section__form--radios {
    padding: 0 20px;
  }

  .section__chart--line {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1030px) {
  .section__form--radios {
    display: none;
  }

  .section__map {
    width: 100%;
  }

  .section__content-title {
    display: block;
    text-align: center;
  }

  .section__button-group {
    display: inline-block;
  }
}

