#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 0 auto;
}

a.active {
  color: orange;
}

.container-fluid {
  padding: 0;
}

.header {
  width: 100%;
  padding: 10px;
  background-color: #A0A0A0;
}

.header p {
  font-size: 20px;
  color: #FFFFFF;
  font-style: italic;
}

.header__title {
  color: #FFFFFF;
  font-size: 60px;
}

.header__title:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.intro {
  font-size: 18px;
  margin: 20px;
}

.section__header {
  background-color: #888888;
  padding: 10px;
  margin-bottom: 10px;
}

.section__header h3 {
  font-size: 20px;
  color: #FFFFFF;
}

.section__form--radios {
  display: inline-block;
  padding: 0 50px;
}

.section__form--radio {
  padding: 3px 10px;
}

.section__form--radio label {
  padding-left: 4px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  vertical-align: middle;
}

.section__map {
  display: inline-block;
  height: 400px;
  width: 70%;
}

.leaflet-container {
  overflow: hidden;
  height: 100%;
}

.leaflet-tile-pane {
  z-index: 2;
}
